doctype html
html.no-js
  head
    meta(charset='UTF-8')
    title rff-fixtures
    // build:css /css/app.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/colors/css/colors.css')
    // endbower
    link(rel='stylesheet', href='/css/sprites.css')
    link(rel='stylesheet', href='/css/glyphs.css')
    link(rel='stylesheet', href='/css/main.css')
    // endbuild
    // build:js /js/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    .container
      h1 rff-fixtures
      h2 Bower Components
      h3 colors
      .row
        .col-xs-2
          .box.bg-navy
        .col-xs-2
          .box.bg-teal
        .col-xs-2
          .box.bg-yellow
        .col-xs-2
          .box.bg-orange
        .col-xs-2
          .box.bg-maroon
        .col-xs-2
          .box.bg-silver
      h3 moment
      div
        code.moment
      h2 CSS Sprites
      div
        .sprite.sprite-yeoman
        .sprite.sprite-grunt
        .sprite.sprite-bower
      h2 Icon Fonts
      div
        .glyph.glyph-home
        .glyph.glyph-cog
        .glyph.glyph-image
      h2 Autoprefixer
      .css3-box
        .box-inner.default Touch Me!
        .box-inner.hover Click Me!
      h2 Modernizr
      .localstorage-support Your browser doesn't support localStorage!
      .history-support Your browser doesn't support History API!
      .touch-support Your browser doesn't support Touch Events!
      h2 SSI <small>in Preview Server</small>
      //#include virtual="/inc/partial.html"
    // build:js /js/app.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/moment/moment.js')
    // endbower
    script(src='/js/main.js')
    // endbuild
