doctype html
html.no-js
  head
    meta(charset='UTF-8')
    title rff-fixtures
    // build:css /css/app.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/colors/css/colors.css')
    // endbower
    link(rel='stylesheet', href='/css/sprites.css')
    link(rel='stylesheet', href='/css/glyphs.css')
    link(rel='stylesheet', href='/css/main.css')
    // endbuild
    // build:js /js/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    h1 rff-fixtures
    h2 wiredep
    h3 colors
    .box-container
      .box.bg-navy
      .box.bg-teal
      .box.bg-yellow
      .box.bg-maroon
      .box.bg-silver
    // build:js /js/app.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    // endbower
    script(src='/js/main.js')
    // endbuild
